/* General Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Navbar Styles */
nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #11191e;
}

.navbar {
  background-color: rgb(238, 240, 255);
}

.nav-item:hover .nav-link {
  color: #0f29ef;
  text-shadow: 0 0 10px #3c50c1;
}

/* Footer Styles */
footer {
  background-color: rgb(238, 240, 255);
}

.icon {
  transition: background-color 0.3s ease;
}

.icons {
  margin-top: 10rem;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.icon:hover {
  background-color: lightblue;
}

.icon svg {
  fill: black;
}

.icon:hover svg {
  fill: blue;
}

/* Logo */
img[alt='logo'] {
  width: 5rem;
  aspect-ratio: 1/1;
}

/* Landing page */
#view {
  animation-name: text;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

#view1 {
  font-size: 60px;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  color: rgb(44, 9, 237);
  padding-bottom: 5px;
}

#view2 {
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

@keyframes text {
  from {
    margin-top: 400px;
  }
  to {
    margin-top: 0px;
  }
}

h1 {
  font-family: 'Anton', sans-serif;
  margin-top: 200px;
}

@media (max-width: 768px) {
  h1 {
    margin-top: 100px;
    font-size: 2rem;
  }
}

@media (max-width: 300px) {
  h1 {
    margin-top: 50px;
    font-size: 1.5rem;
  }
}

.animate {
  font-family: 'Anton', sans-serif;
  background-image: linear-gradient(-225deg, #e8c5ec 0%, #0a0592 29%, #41b4e9 67%, #e8c5ec 100%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

img {
  width: 350px;
  animation-name: text;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

#one {
  animation-timing-function: ease;
  width: 250px;
}

/* Additional Styling */
body {
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #767171;
}

.body-background {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
}

#view {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#view1,
#view2 {
  width: 45%;
  height: 50px;
  background-color: #ddd;
  border-radius: 5px;
}

h1.display-3 {
  font-size: 2rem; /* Adjust as needed */
}

@media (min-width: 768px) {
  h1.display-3 {
    font-size: 3.5rem;
  }

  .body-background {
    padding: 40px;
  }
}

.circular-image img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.container-fluid {
  padding: 60px 0; /* Add some padding to sections */
}
